---
import "@/styles/globals.css";
---

<header
  class="mx-6 my-8 flex items-center justify-between md:mx-10 md:mt-10 lg:mx-20 lg:mt-[2.72rem]"
>
  <div class="flex items-center justify-between gap-[9.25rem]">
    <img
      src="/images/shared/desktop/logo.svg"
      alt="logo"
      class="w-[10.1875rem]"
    />
    <img
      src="/images/shared/mobile/icon-hamburger.svg"
      alt="hamburger-icon"
      class="md:max-2xl:hidden"
    />
  </div>
  <nav class="hidden md:max-2xl:block">
    <ul class="flex items-center justify-between gap-8">
      <li class="">
        <a
          href=""
          class="font-Barlow text-xs font-bold uppercase leading-[0.9375rem] tracking-[0.05769rem] text-[#83888F]"
          >Home</a
        >
      </li>
      <li class="">
        <a
          href=""
          class="font-Barlow text-xs font-bold uppercase leading-[0.9375rem] tracking-[0.05769rem] text-[#83888F]"
          >About us</a
        >
      </li>
      <li class="">
        <a
          href=""
          class="font-Barlow text-xs font-bold uppercase leading-[0.9375rem] tracking-[0.05769rem] text-[#83888F]"
        >
          Create your plan</a
        >
      </li>
    </ul>
  </nav>
</header>
